*{
    margin:0
}
.App{
    min-height:100vh;
}

.success{
    background-color: #33A03E;
}

.failed{
    background-color: #FC4E4E;
}

.tox-statusbar{display:none !important}
blockquote{background: rgb(225, 225, 225);}

#tinymce img{
    height: auto; 
    width: auto; 
    max-width: 70px ; 
    max-height: 70px ;
}

a{text-decoration:none;}