.new-topic-main{
    display: flex;
    justify-content: center;
    min-height:100vh;
}
 .topic-page{
    position: relative;
}

.new-topic-main .new-topic-form{
    width:80%;
    margin-top:30PX;
}

.new-topic-main .new-topic-form .return-btn{
    height: 50px;
    width: 200px;
    color: white;
    background-color: #3F5BF5;
    font-weight: bold;
    border: none;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-topic-main .new-topic-form .new-topic-top{
    background-color: red;
    height:35px;
    padding:15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    background-color: #3F5BF5;
    margin-top:30px;
}

.new-topic-main .new-topic-form .new-topic-body{
    background-color: #F3F3F3;
    padding:50px;
}

.new-topic-main .new-topic-form .new-topic-body .title-input{
    border:none;
    width:100%;
    height:30px;
    padding:0;
}

.new-topic-footer{
    display: flex;
    justify-content: space-between;
}
.new-topic-main .new-topic-form .new-topic-footer .select-language{
    height:50px;
    width:200px;
}
.new-topic-main .new-topic-form .new-topic-footer .publish-topic{
    height:30px;
    color:white;
    border:none;
    background-color: #3F5BF5;
    font-weight: bold;
    margin-top:5px
}

.button-right{
    display: flex;
    justify-content: flex-end;
    padding:10px;
}
.button-right button{
    background-color: #3F5BF5;
    padding:10px;
    color:white;
    border:none;
    font-weight: bold;
    font-size: 15px;
    margin-top:10px;

}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;   
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 70%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.no-js .inputfile + label {
    display: none;
}


.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #3F5BF5;
}





.uploader{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    height:100%;
    width:100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
        /* flex-direction: column; */
}
.uploader-info{
    margin-top:30px;
    width:80%;
}
.uploader-top{
    height: 35px;
    padding: 15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #3F5BF5;
    margin-top: 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.uploader-body{
    background-color: white;
    min-height:50%;
}

.uploader-top-right{
    background:#FC4E4E;
    padding:5px;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;    
}
.images-list{
    width:80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap:10px;
    background-color: #F3F3F3;
}